.avatar {
    background: transparent;
    border-radius: 50%;
    font-size: var(--font-size);

    img {
        border-radius: 50%;
        height: 9em;
        object-fit: cover;
        width: 9em;
    }
}
