.banner {
    position: relative;
    background: top/cover no-repeat;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: -66px;
    padding-top: 28%;
    width: 100%;

    .user {
        align-items: flex-end;
        bottom: -70px;
        display: flex;
        left: 40px;
        position: absolute;
        z-index: 1;

        .user-avatar {
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            height: 172px;
            justify-content: center;
            width: 172px;
            position: relative;
            cursor: pointer;

            &.pro {
                background-color: transparent;
                padding: 0;
            }

            .choose-avatar {
                background: rgba(0, 0, 0, 0.54);
                border-radius: 50%;
                bottom: 0;
                cursor: pointer;
                display: flex;
                height: 90%;
                justify-content: center;
                align-items: center;
                left: 9px;
                position: absolute;
                right: 0;
                top: 8px;
                transition: all 1s ease;
                width: 90%;
                z-index: 6;

                &:hover {
                    svg {
                        opacity: 1;
                    }
                }

                svg {
                    color: #fff;
                    font-size: 3.2rem;
                    opacity: 0.6;
                }
            }
        }

        .user-name {
            font-size: 2.8rem;
            font-weight: 700;
            margin-bottom: 16px;
            margin-left: 16px;
            text-align: center;

            svg {
                color: #1b74e4;
                margin-left: 4px;
                font-size: 1.8rem;
            }
        }
    }

    .btn-change {
        align-items: center;
        background-color: #fff;
        border-radius: 6px;
        bottom: 15px;
        cursor: pointer;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        max-height: 40px;
        padding: 10px;
        position: absolute;
        right: 15px;

        &:hover {
            background-color: #f5f4f4;
        }

        svg {
            font-size: 2rem;
            color: #4f4d4d;
            margin-right: 8px;
            width: 20px;
        }
    }

    .upload {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        position: absolute;
        right: 0;
        width: 200px;
        z-index: 2;
        bottom: -38px;

        .label {
            background-color: #fff;
            border-radius: 6px;
            cursor: pointer;
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
            height: 40px;
            padding: 10px;
            position: relative;
            width: 100%;

            .label-item {
                svg {
                    color: #4f4d4d;
                    font-size: 1.4rem;
                    margin-right: 8px;
                    width: 20px;
                }

                span {
                    display: inline-block;
                    margin-top: 2px;
                }
            }
        }

        input {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }
    }

    .confirm-upload {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        font-size: 1.4rem;
        justify-content: flex-end;
        padding: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 21;

        &.avatar {
            right: -46px;
            top: 48px;
            border-radius: 8px;
            justify-content: flex-start;
            width: max-content;
        }

        .button-confirm {
            border-color: transparent;
            cursor: pointer;
            padding: 8px 16px;
            appearance: none;
            background-color: var(--background-color);
            border: 1px solid var(--color-primary);
            border-radius: 999px !important;
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 600;
            outline: none;
            text-align: center;
            transition: 0.3s ease;
            user-select: none;
            white-space: nowrap;

            &:hover {
                opacity: 0.9;
            }

            &.cancel {
                border-color: transparent;
                color: #0000008a;
            }

            &.save {
                background-color: var(--color-primary);
                color: var(--background-color);
                margin-left: 16px;
            }
        }
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .banner {
        .user {
            align-items: center;
            bottom: -122px;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);

            .user-avatar {
                height: 128px;
                width: 128px;

                .choose-avatar {
                    top: 6px;
                    left: 6px;
                }
            }

            .user-name {
                font-size: 2.4rem;
                margin-bottom: 0;
                margin-left: 0;
                margin-top: 6px;
            }
        }

        .btn-change {
            bottom: 8px;
            height: auto;
            padding: 5px 8px;
            right: 8px;

            svg {
                margin-right: 0;
                font-size: 1.6rem;
            }

            span {
                display: none;
            }
        }

        .confirm-upload.avatar {
            top: 190px;
            right: -106px;
        }
    }
}
