.actions {
    color: #757575;
    display: flex;
    font-size: 1.6rem;
    margin-right: -8px;
    user-select: none;

    .btn-save {
        cursor: pointer;
        padding: 4px 8px;

        .book-mark {
            color: var(--color-primary);
        }
    }

    .options {
        animation: Tippy 0.3s ease;
        background: var(--background-color);
        border-radius: 10px;
        box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
        color: #1d2129;
        margin: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        will-change: opacity, transform;
        padding: 8px 0;
        min-width: 230px;

        button {
            width: 100%;
        }

        li {
            color: #444;
            cursor: pointer;
            display: block;
            font-size: 1.4rem;
            padding: 12px 20px;
            transition: 0.3s;
            text-align: left;

            &:hover {
                background-color: #f0f0f0;
                color: #292929;
            }

            svg {
                font-size: 1.6rem;
            }

            span {
                margin-left: 16px;
            }
        }
    }

    .btn-option {
        cursor: pointer;
        padding: 4px 8px;
    }

    svg {
        &:hover {
            color: #292929;
        }
    }
}
