@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #f05123;
    --color-gray: #7c7c7c;
    --color-black: #000;
    --color-text: #333;
    --color-desc: #0000008a;

    --background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}
