.wrapper {
    margin-bottom: 60px;
    padding: 8px 44px 0;

    .container {
        margin-left: -12px;
        margin-right: -12px;
        display: flex;
        flex-wrap: wrap;

        .left {
            width: 66.66667%;
            display: block;
            padding-left: 12px;
            padding-right: 12px;

            .content-left {
                padding: 0 64px 44px 0;
            }
        }

        .right {
            width: 33.33333%;
            display: block;
            padding-left: 12px;
            padding-right: 12px;

            h4 {
                color: #757575;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8;
                text-transform: uppercase;
                margin: 14px 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.4rem;
                padding-left: 0;
                list-style: none;

                a {
                    background-color: #f2f2f2;
                    border-radius: 30px;
                    color: #333;
                    display: block;
                    font-weight: 500;
                    line-height: 1.8;
                    margin: 0 8px 8px 0;
                    padding: 6px 16px;
                    user-select: none;
                }
            }
        }
    }
}
