.container {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;

    .content {
        width: 66.66667%;
        padding-left: 12px;
        padding-right: 12px;

        .no-result {
            font-size: 1.4rem;
            line-height: 1.6;
            margin-top: 32px;

            a {
                color: #029e74;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}
