.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .banner {
        background-image: url('./../../assets/image/cover-profile.png');
        position: relative;
        // background: top/cover no-repeat;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        margin-top: -66px;
        padding-top: 28%;
        width: 100%;

        .user {
            align-items: flex-end;
            bottom: -70px;
            display: flex;
            left: 40px;
            position: absolute;
            z-index: 1;

            .user-avatar {
                background-color: #fff;
                border-radius: 50%;
                height: 168px;
                padding: 4px;
                width: 168px;

                img {
                    border-radius: 50%;
                    height: 168px;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .user-name {
                font-size: 2.8rem;
                font-weight: 700;
                margin-bottom: 16px;
                margin-left: 16px;
                text-align: center;
            }
        }

        .btn-change {
            align-items: center;
            background-color: #fff;
            border-radius: 6px;
            bottom: 15px;
            cursor: pointer;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            max-height: 40px;
            padding: 10px;
            position: absolute;
            right: 15px;

            &:hover {
                background-color: #f5f4f4;
            }

            svg {
                font-size: 2rem;
                color: #4f4d4d;
                margin-right: 8px;
                width: 20px;
            }
        }

        .upload {
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            position: absolute;
            right: 0;
            width: 200px;
            z-index: 2;
            bottom: -38px;

            .label {
                background-color: #fff;
                border-radius: 6px;
                cursor: pointer;
                display: block;
                font-size: 1.4rem;
                font-weight: 500;
                height: 40px;
                padding: 10px;
                position: relative;
                width: 100%;

                .label-item {
                    svg {
                        color: #4f4d4d;
                        font-size: 1.4rem;
                        margin-right: 8px;
                        width: 20px;
                    }

                    span {
                        display: inline-block;
                        margin-top: 2px;
                    }
                }
            }

            input {
                display: none;
                font-family: inherit;
                font-size: 100%;
                line-height: 1.15;
                margin: 0;
            }
        }
    }

    .content {
        margin-top: 90px;
        padding: 0 24px;

        margin-left: -12px;
        margin-right: -12px;
        display: flex;
        flex-wrap: wrap;

        .left {
            width: 41.66667%;
            display: block;
            padding-left: 12px;
            padding-right: 12px;
        }

        .right {
            padding-left: 12px;
            padding-right: 12px;
            display: block;
            width: 58.33333%;
        }

        .content-box {
            .box {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
                margin-bottom: 20px;
                padding: 18px 14px;
                word-break: break-word;

                .box-title {
                    font-size: 1.6rem;
                    margin: 0 0 8px;
                }

                .participation {
                    align-items: flex-start;
                    display: flex;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    margin-top: 15px;
                }

                svg {
                    color: #808990;
                    margin-right: 8px;
                    margin-top: 2px;
                    text-align: center;
                    width: 20px;
                }

                span {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }

                .no-participation {
                    margin-top: 0;
                }
            }
        }
    }
}
