.wrapper {
    color: #757575;
    display: flex;
    font-size: 1.6rem;
    margin-top: 24px;

    .btn {
        padding: 4px 8px;
        user-select: none;

        &:hover {
            color: #333;
            cursor: pointer;
        }

        & + .btn {
            margin-left: 24px;
        }

        svg {
            font-size: 2rem;
        }

        span {
            margin-left: 8px;
        }
    }
}
