.wrapper {
    max-width: 1920px;

    .banner {
        margin-top: 18px;
    }

    .content {
        margin-top: 70px;
        overflow: hidden;
        padding: 0 44px 74px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        .content {
            margin-top: 60px;
            padding: 0 0 22px;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        .content {
            padding: 0 0 60px;
        }
    }
}
