.wrapper {
    align-items: center;
    background-color: #f0f0f0;
    bottom: 0;
    box-shadow: 0 -2px 3px rgb(0 0 0 / 10%);
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;

    .btn-left {
        border-radius: 6px;
        color: #404040;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 8px 12px;
        transition: 0.3s ease;
        user-select: none;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &.active {
            cursor: default;
            opacity: 0.5;
            pointer-events: none;
        }

        span {
            padding: 8px;
            text-transform: uppercase;
        }
    }

    .btn-right {
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        text-transform: uppercase;
        margin-left: 12px;
        border-radius: 6px;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 8px 12px;
        transition: 0.3s ease;
        user-select: none;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &.active {
            cursor: default;
            opacity: 0.5;
            pointer-events: none;
        }

        span {
            padding: 8px;
        }
    }

    .toggle-sidebar {
        align-items: center;
        bottom: 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;

        .title {
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            font-size: 1.4rem;
            overflow: hidden;
        }

        .toggle-btn {
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            font-size: 1.6rem;
            height: 38px;
            justify-content: center;
            margin: 0 8px;
            width: 38px;
        }
    }
}
