.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 0;
    cursor: pointer;

    img {
        border-radius: 50%;
        height: 32px;
        object-fit: cover;
        width: 32px;
    }

    span {
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #292929;
        display: -webkit-box;
        font-size: 1.4rem;
        line-height: 1.6;
        margin-left: 12px;
        overflow: hidden;
    }
}
