.wrapper {
    width: 25%;
    display: block;
    padding-left: 12px;
    padding-right: 12px;

    .item {
        position: relative;
        overflow: unset;
        margin-bottom: 32px;

        .name {
            margin: 11.7px 0;

            .disabled-name,
            a {
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                color: #292929;
                display: -webkit-box;
                font-size: 1.6rem;
                line-height: 1.4;
                overflow: hidden;
            }
        }

        .price {
            .old-price {
                font-size: 1.4rem;
                margin-right: 8px;
                text-decoration: line-through;
            }

            .new-price {
                color: var(--color-primary);
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        .studying {
            color: #666;
            font-size: 1.4rem;

            svg {
                display: inline-block;
                height: 1em;
                overflow: visible;
                vertical-align: -0.125em;
            }

            span {
                margin-left: 8px;
            }
        }

        .progress {
            .last-completed {
                color: #666;
                font-size: 1.3rem;
                margin: 0 0 16px;
            }
        }
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        width: 60vw;

        .item {
            margin-bottom: 0;
            min-height: 0;
        }

        .studying {
            display: none;
        }
    }
}

@media (min-width: 0) and (max-width: 1023px) {
    .wrapper {
        overflow: unset;
        position: relative;
        margin-bottom: 0;
        padding: 0;
        flex-shrink: 0;

        & + .wrapper {
            margin-left: 16px;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: 35vw;

        .item {
            margin-bottom: 0;
        }
    }
}
