.wrapper {
    width: 25%;
    display: block;
    padding-left: 12px;
    padding-right: 12px;

    .item {
        position: relative;
        overflow: unset;
        margin-bottom: 32px;
        min-height: 289px;

        .name {
            margin: 11.7px 0;

            &.disabled-name {
                &:hover {
                    cursor: context-menu;
                }
            }

            a {
                word-wrap: break-word;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                color: #292929;
                display: -webkit-box;
                font-size: 1.6rem;
                line-height: 1.4;
                overflow: hidden;
            }
        }

        .price {
            .old-price {
                font-size: 1.4rem;
                margin-right: 8px;
                text-decoration: line-through;
            }

            .new-price {
                color: var(--color-primary);
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        .studying {
            color: #666;
            font-size: 1.4rem;

            svg {
                display: inline-block;
                height: 1em;
                overflow: visible;
                vertical-align: -0.125em;
            }

            span {
                margin-left: 8px;
            }
        }

        .progress {
            .last-completed {
                color: #666;
                font-size: 1.3rem;
                margin: 0 0 16px;
            }
        }
    }
}
