.wrapper {
    margin-top: 16px;
    overflow: hidden;

    .item {
        border-top: 1px solid rgba(0, 0, 0, 0.079);
        display: flex;
        padding: 20px 0;

        &:first-child {
            border-top: none;
            padding-top: 16px;
        }

        a {
            img {
                border-radius: 16px;
                display: block;
                overflow: hidden;
                width: 280px;
            }
        }

        .info {
            padding-left: 20px;

            h2 {
                font-size: 2rem;
                line-height: 1.6;
                margin-bottom: 0;

                a {
                    color: #292929;
                }
            }

            p {
                color: #757575;
                font-size: 1.4rem;
                line-height: 1.6;
                margin-top: 4px;
            }
        }
    }

    .black {
        font-size: 1.4rem;
        padding: 32px 0;
    }
}
