.wrapper {
    color: var(--desc-color);
    font-size: 1.4rem;
    max-height: calc(90vh - 66px);
    min-height: 50px;
    min-width: 230px;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 12px 24px;
    width: 100%;
}
.wrapper {
    color: #0000008a;
    font-size: 1.4rem;
    max-height: calc(90vh - 66px);
    min-height: 50px;
    min-width: 230px;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 12px 24px;
    width: 100%;
}
