.container {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;

    .content {
        width: 66.66667%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .container {
        margin-left: -4px;
        margin-right: -4px;

        .content {
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}
