::placeholder {
    color: #757575;
}

.wrapper {
    padding: 0 44px 44px;

    .container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;

        input {
            font-size: 4rem;
            line-height: 1.4;
            font-weight: 500;
            margin: 50px 0;
            transition: font-size 0.3s ease;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            width: 100%;
            color: var(--color-black);

            &.active {
                font-size: 3.2rem;
            }
        }

        .result {
            margin-left: -12px;
            margin-right: -12px;
            display: flex;
            flex-wrap: wrap;

            .content {
                width: 66.66667%;
                padding-left: 12px;
                padding-right: 12px;

                .result-content {
                    margin-top: 16px;
                    overflow: hidden;
                }
            }
        }
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        padding: 0;

        input::placeholder {
            color: #757575;
            font-family: 600;
        }

        .container {
            .result {
                display: flex;
                flex-wrap: wrap;
                margin-left: -4px;
                margin-right: -4px;

                .content {
                    width: 100%;
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
        }
    }
}
