.label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        display: block;
        font-size: 1.4rem;
        margin: 10px 0 10px 8px;
        font-weight: 600;

        &:last-child {
            cursor: not-allowed;
        }
    }
}

.input {
    background: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.06);
    border-radius: 44px;
    height: 44px;
    display: flex;

    &.active {
        border-color: var(--color-valid);

        input {
            color: var(--color-primary);
        }
    }

    input[type='password'] {
        font-family: Verdana;
    }

    input::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
        background-color: transparent;
        border: none;
        display: block;
        font-size: 1.4rem;
        outline: none;
        color: #000;
        padding: 12px 20px;
        font-family: inherit;
        width: 100%;
    }

    .send-code {
        align-items: center;
        border-radius: 44px;
        display: flex;
        font-size: 1.4rem;
        justify-content: center;
        margin: 1px;
        min-width: 140px;
        white-space: nowrap;
        background-color: #ccc;
        color: #757575;
        cursor: not-allowed;
        font-weight: 600;

        &.active {
            background-color: var(--color-primary);
            color: #fff;
            cursor: pointer;
        }

        .icon-loading {
            font-size: 1.4rem;
            margin-left: 6px;
            animation: Spinner 1s linear infinite;
        }
    }
}

.help {
    color: #404040;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 8px 0 8px 8px;
    text-align: left;
}

.message {
    color: var(--color-valid);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 8px 0 8px 8px;
    text-align: left;
}

@keyframes Spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
