.wrapper {
    height: 66px;
    padding: 0 28px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    font-size: 1.4rem;
    border-bottom: 1px solid #e8ebed;

    &.active {
        background-color: transparent;
        border-bottom: none;
    }

    .logo {
        display: flex;
        align-items: center;

        a {
            display: inherit;

            img {
                width: 38px;
                height: 38px;
                border-radius: 8px;
                object-fit: contain;
            }
        }

        h4 {
            font-weight: 700;
            margin-left: 16px;
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;

        .is-login {
            display: flex;
            align-items: center;
            position: relative;
        }

        .btn-login {
            background-color: var(--color-primary);
            border-radius: 999px;
            cursor: pointer;
            font-size: 1.4rem;
            padding: 9px 20px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
