.wrapper {
    max-width: 100%;
    width: 380px;

    .form {
        margin-top: 10px;
        overflow: hidden;
        width: 100%;
    }

    .btn-submit {
        color: var(--background-color);
        font-size: 1.6rem;
        background-color: #92ede9;
        width: 100%;
        height: 44px;
        border-radius: 44px;
        border: none;
        margin-top: 20px;
        font-weight: 600;
        cursor: not-allowed;
        font-family: inherit;

        &.active {
            background-color: #1dbfaf;
            background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
            cursor: pointer;
        }
    }
}
