.wrapper {
    width: 100%;

    .overlay {
        display: none;
    }

    .comment {
        bottom: 70px;
        position: fixed;
        right: calc(23% + 20px);
        z-index: 1;

        &.active {
            right: 20px;
        }

        .comment-btn {
            background-color: #fff;
            border-radius: 999px;
            box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            color: var(--color-primary);
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 8px 12px;
            position: relative;
            user-select: none;

            span {
                margin-left: 8px;
            }
        }
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        .comment {
            bottom: 90px;
            right: 16px;

            .comment-btn {
                padding: 12px;

                span {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        .overlay {
            background-color: rgba(0, 0, 0, 0.2);
            display: block;
            inset: 0;
            position: fixed;
            z-index: 98;
        }

        .comment {
            bottom: 78px;
            right: 20px;
        }
    }
}
