.wrapper {
    margin-bottom: 60px;
    padding: 8px 44px 0;

    .course {
        .course-wrapper {
            margin-bottom: 40px;

            .heading {
                .sub-heading {
                    color: #82919b;
                    font-size: 1.4rem;
                    margin-top: 14px;

                    strong {
                        margin-right: 4px;
                    }
                }

                .heading-wrap {
                    align-items: baseline;
                    display: flex;
                }

                .title {
                    color: #242424;
                    font-size: 2.4rem;
                    font-weight: 900;
                    margin-right: auto;
                    margin-bottom: 19.9px;
                }

                .course-new {
                    background-color: #1473e6;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding: 3px 6px;
                    position: relative;
                    right: -8px;
                    text-transform: uppercase;
                    top: -6px;
                }
            }

            .list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-left: -12px;
                margin-right: -12px;
            }
        }
    }
}
